/* I need this to be unique and not just a copy of logzinga.com :P */
h1, body {
  background-color: rgb(255, 255, 255);
  color: rgb(75, 56, 195);
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 1%;
  width: 100%;
}

.navigation a {
  display: inline-block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.latestcontent {
  display: inline;
}

.socials-extra a {
  text-decoration: none;
}

.footer a {
	text-decoration: none;
}